Editorial changes from Benoit Claise AD review

Benoit Claise

https://mailarchive.ietf.org/arch/msg/dnsop/_ndo2HnuCIfftGlYkJLbYMZpUPc

_EDITORIAL:_
- "in in". Two occurences in
TLD Top-Level Domain, as defined in in section 2 of RFC 7719
[RFC7719]
gTLD Generic Top-Level Domain, as defined in in section 2 of RFC
7719 [RFC7719]

- OLD:
    Special-Use Domain Name  A Domain Name listed in the Special-Use
       Domain Names registry.
NEW:
    Special-Use Domain Name  A Domain Name listed in the Special-Use
       Domain Names registry [SDO-IANA-SUDR].

- OLD:
    The history ofRFC 6762 <https://tools.ietf.org/html/rfc6762>  is documented in substantial detail in
    Appendix H 
<https://tools.ietf.org/html/draft-ietf-dnsop-sutld-ps-04#appendix-H>

NEW:
    The history ofRFC 6762 <https://tools.ietf.org/html/rfc6762>  is documented in substantial detail in
    Appendix H of RFC 6762 
<https://tools.ietf.org/html/draft-ietf-dnsop-sutld-ps-04#appendix-H>

- Expand SSAC on the first occurrence.

- "in in" -- **DONE**
- "Domain Names registry [SDO-IANA-SUDR]." -- **DONE**
- "Appendix H of RFC 6762" -- **DONE**
- "Expand SSAC on the first occurrence." -- **DONE**