Add TLD and gTLD to the list of abbreviations

Suggested text:

   For the sake of brevity this document uses some abbreviations, which
   are expanded here:

   IANA  Internet Assigned Numbers Authority

   ICANN  Internet Corporation for Assigned Names and Numbers

   TLD  Top-Level Domain, as defined in in section 2 of RFC 7719
      [RFC7719]

   gTLD  Generic Top-Level Domain, as defined in in section 2 of RFC
      7719 [RFC7719]