Problem: anomalous application of 6761

So in terms of this document, they here are some things that would be good to list as strange anomalies that have happened.

.onion was published by standards action, should have been IESG Evaluation.   An RFC that does nothing but list the seven questions isn’t specifying a protocol.   You can’t interoperate.   That to me seems backwards.

RFC 7050 does have the domain name reservation considerations section with the seven questions, and yet that totally missed the target in a different way: it defines a SUIN, ipv4only.arpa, which has very specially defined behavior, and then they concluded it’s not special because it’s not a TLD, and this is wrong--6761 is about special-use names.   Not listed in the IANA registry.

What they should have said, instead of saying recursive resolvers should treat this like any normal name, they should say that recursive resolvers know what the answer is, they don’t need to look it up.  We’ve had problems on T-mobile with dns64 and nat64 not working because IANA name servers were down/unresponsive.  Clients were unable to access the network because the IANA nameservers were not able to give them an answer to a question for which they already knew the answer.   This was an opty to use the process the way it was meant, and it missed the point.

Ralph: putting these three examples in as explicit examples of problems that have been encountered in the use of this registry would be illustrative.

RFC 7686 is a seven-page standard that doesn’t specify a standard.   Oops.

6303, who is “local”   Mark seems to think he knows, but it’s vague.   Yes, these are special, but part of the point of the SUIN registry is to give network operators justification for why they might black-hole certain queries.   E.g., volume of .local queries.


Yes, indeed, some strange anomalies...

I agree that RFC 7686 doesn't specify a protocol, per se; however, in my opinion, it is reasonable to publish a specification of a set of behaviors or "properties", as listed in section 2 of RFC 7686, as an Internet Standard.  RFC 6761 requires 'an IETF "Standards Action" or "IESG Approval" specification' and cites RFC 5226.  RFC 6761 also uses the term '"IESG Approval" document'.  I don't know, formally, what an '"IESG Approval" specification'  or '"IESG Approval" document' would be.  In any event, as the problem statement document is intended to list problems for discussion, I agree that RFC 7686 ought to be included.

Stuart has initiated a fix for RFC 7050 with draft-cheshire-sudn-ipv4only-dot-arpa-06, which we can cite.

I don't understand your comments on RFC 6303.  


NOTE: This issue should be tracked when we (someone) updates the RFC6761 document. 
Also, we should explore how to implement IESG Evaluation without trying to publish an RFC.

Closing, because not addressable to THIS document.