Cite definition of RFC 7719 and domain names draft in definition of "domain name"

From Suzanne Woolf
https://www.ietf.org/mail-archive/web/dnsop/current/msg19170.html

Terminology

5. On defining "domain name," I think citing RFC 7719 and the domain-names draft might be helpful. If it were less ambiguous in practice this problem would be easier, but at least mentioning some contexts where domain names are used or some of the constraints of what can be in the strings might be helpful to readers who haven't already seen the challenges in such a definition.


I suggest we simply copy or cite the definition from RFC 7719; that's the purpose for RFC 7719, right?

Yup.


Folded in other editorial changes to "Terminology and updated document as follows:

OLD:

2.  Terminology

   For the sake of brevity this document uses a number of abbreviations.
   These are expanded here:

   Domain Name  A name which serves as input to a name resolution
      process, for example 'EXAMPLE.ORG'.

   Domain Namespace  The set of all possible Domain Names.

   SUDN  Special Use Domain Name

   SUTLDN  Special-Use Top-Level Domain Name

   IANA  Internet Assigned Numbers Authority

   ICANN  Internet Corporation for Assigned Names and Numbers

NEW:

2.  Terminology

   This document uses the terminology from RFC 7719 [RFC7719].  Other
   terms used in this document are defined here:

   Domain Name  This document uses the term "Domain Name" as defined in
      section 2 of RFC 7719 [RFC7719].

   Domain Namespace  The set of all possible Domain Names.

   For the sake of brevity this document uses a number of abbreviations.
   These are expanded here:

   SUDN  Special Use Domain Name

   SUTLDN  Special-Use Top-Level Domain Name

   IANA  Internet Assigned Numbers Authority

   ICANN  Internet Corporation for Assigned Names and Numbers
