Section 3, item 11: cite a reference for a de facto assignment

From Spencer Dawkins' IESG review:

I'm assuming that the intended audience for this document is "people who know less than the authors about the lurid history of DNS". If so, in this text,

   11.  In some cases where the IETF has made assignments through the
        RFC 6761 process, technical mistakes have been made due to
        misunderstandings as to the actual process that RFC 6761
        specifies (e.g., treating the list of suggested considerations
        for assigning a name as a set of requirements all of which must
        be met).  In other cases, the IETF has made de facto assignments
        of Special-Use Domain Names without following the RFC 6761
        process.

citations of at least one de facto assignment would likely be helpful.


Interesting question ... exactly what do we mean by de facto assignment?  For example, RFC 7788 might be used as an example, although it didn't result in .home being added to the SUDN registry.

Yeah, not really sure -- I believe that this is Ted's text, and that he knows more.

.home is the obvious case, but I think that RFC 7050 is another example—I wouldn't call it a process failure, but I think the name ought to be in the registry.   Possibly others would disagree, though.

So, if others might disagree, should we list it or not? And .home has been "fixed" with an errata.
I'm inclined to remove the sentence instead. 

Thoughts?


In my opinion, .home is a good example, and the fact that an errata was needed emphasizes the point that it was a mistake.  RFC 7050 is sort of an odd example, as it included the description of the behavior of ipv4only.arpa. but then didn't explicitly ask that ipv4only.arpa be added to the SUDN registry.  How about:

OLD:

In other cases, the IETF has made de facto assignments
of Special-Use Domain Names without following the RFC 6761
process.

NEW:

In other cases, the IETF has made de facto assignments
of Special-Use Domain Names without following the entire RFC 6761
process (see RFC 7050, RFC 7788).